# Используем obfs4 транспорт через lyrebird
ClientTransportPlugin obfs4 exec /usr/bin/lyrebird

# Используем только мосты
UseBridges 1

# SOCKS внутри контейнера
SocksPort 127.0.0.1:9050

# Каталог данных Tor
DataDirectory /var/lib/tor

# Безопасное логирование
SafeLogging 1